* {
    box-sizing: border-box;
}

.container {
    width: 325px;
    margin: auto;
    border: 5px black solid;
    padding: 10px;
}

.head {
    font-size: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.display {
    height: 70px;
    padding: 25px;
    border: 2px black solid;
    display: flex;
    justify-content: right;
}

.button {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 2px black solid;
}